body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.converter {
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

input,
select {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
  
}

button:hover {
  background-color: #45a049;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .converter {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  input,
  select,
  button {
    font-size: 14px;
    padding: 8px;
  }
}

.credit {
  text-align: center;
  /* Center the text */
  margin-top: 20px;
  /* Space above the credit section */
  font-size: 14px;
  /* Font size for the credit */
}

.credit a {
  color: #433839;
  /* brown color for the link */
  text-decoration: none;
  /* Remove underline from the link */
  font-weight: bold;
  /* Make the link bold */
  transition: color 0.3s;
  /* Smooth color transition */
}

.credit a:hover {
  color: #030303;
  /* Darker brown on hover */
}